.bg-light {
    background-color: #ffffff!important;
}

.nv-font {
    font-family:'Trebuchet MS';
    font-size: 1.4rem;
}

.iconClassNB1 
{
    font-size: 20px!important;
    color: black;
    margin-left: 20px;
    margin-top: 1px;
  
    
}
.nvImput {
    display: block;
    width: 25%;
    height: calc(1.2em + 0.25rem + 4px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color:  #fafafa;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.lHeader{
    width: 55%;
}
.mr-100{
        margin-right: -100px;

}
.userNav{
height: 25px;
width: 25px;
margin-left: 15px;
}

.mlNB{
    margin-left: 93px;
}¨
.mrnbB{
    margin-right: 84px;
}